[submodule "swift-case-paths"]
	path = swift-case-paths
	url = git@github.com:pointfreeco/swift-case-paths.git
[submodule "xctest-dynamic-overlay"]
	path = xctest-dynamic-overlay
	url = git@github.com:pointfreeco/xctest-dynamic-overlay.git
[submodule "swift-clocks"]
	path = swift-clocks
	url = git@github.com:pointfreeco/swift-clocks.git
[submodule "swift-concurrency-extras"]
	path = swift-concurrency-extras
	url = git@github.com:pointfreeco/swift-concurrency-extras.git
[submodule "combine-schedulers"]
	path = combine-schedulers
	url = git@github.com:pointfreeco/combine-schedulers.git
[submodule "swift-custom-dump"]
	path = swift-custom-dump
	url = git@github.com:pointfreeco/swift-custom-dump.git
[submodule "swift-dependencies"]
	path = swift-dependencies
	url = git@github.com:pointfreeco/swift-dependencies.git
